@import '../../../styles/settings.scss';

.root{
    margin: 5px;
    padding: 15px;
}

.center,
.centerLast{
    text-align: center;
}

.centerLast{
 //   border-top: 2px solid  $black;
}

.grayed{
    background-color: rgba(224, 224, 224, 1);
    border: 2px solid $black;

}

.noBorder{
    border-bottom: none;
}

.button {
    margin-top: 50px;
    height:50px;
    background-color: $white;
    border: 2px solid  $black;
    border-radius: 0px;
    color: $black;
}

.buttonOrder {
    margin-top: 50px;
    height:50px;
    background-color: $black;
    border: 2px solid  $black;
    border-left: none;
    border-radius: 0px;
    color: $white;
    &:hover {
        background-color:orange;

    }
}

.order {
    display:flex;
    min-height: 200px;
}

.message {
    border:2px solid $black;
    border-left:none;
    padding:10px;
    min-width: 300px;
}

.delivery {
    display:flex;
    justify-content: center;
}

.radioGroup {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media only screen and (max-width: $break-m) {

    .order {
        flex-direction: column;
    }

    .message {
        border:2px solid $black;
        border-top:none;
        min-height: 200px;
        min-width: 200px;
    }

    .center{
        padding: 0;
        padding-top: 2px;
    }

    h4{
        margin: 5px 0;
    }

    .grid{
        padding: 10px;
    }
    
  }

  @media only screen and (max-width: $break-xs) {

    .radioGroup {
        flex-direction: column;   
        margin-left:20%;     
    }
  }