@import '../../../styles/settings.scss';

.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: none;
    height: 70px;
}

.logo{
    height: 50px;
}

.logoName{
    font-weight: 900;
    font-family: $font-header;
    text-transform: lowercase;
    font-style: italic;
    font-size: $base-size * 2.5;
    display: inline-block;
    margin: 0;
}

.link{
    border: 2px solid $black;
    margin: 0 3px;
}

.button {
    border-radius: 0px;
    top:0;
    color: $black;
    &:hover {
        background-color: lightgray;
    }
}

@media only screen and (max-width: $break-s) {
    .logoName {
      display:none;
    }
  }






