@import '../../../styles/settings.scss';

.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: none;
}

.logo{
    font-weight: 900;
    font-family: $font-header;
    text-transform: lowercase;
    font-style: italic;
    font-size: $base-size * 3;
    display: inline-block;
}

.link{
    border: 2px solid $black;
    margin: 0 3px;
}

.group{
    
}





