@import '../../../styles/settings.scss';

.root {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: none;
}

.logo{
    font-weight: 700;
}

.link{
    border: 2px solid $black;
    margin: 0 3px;
}



