@import '../../../styles/settings.scss';

.main {
    padding-top:10px;
    min-height: 200px;
}



.half-top {
    width: 200px;
    height: 100px;
    background-color: black;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 10px solid black;
    border-bottom: 0;
}
    
.half-bottom {
    width: 200px;
    height: 100px;
    background-color: white;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border: 10px solid black;
    border-top: 0;
}