@import '../../../styles/settings.scss';

.root {
    text-decoration: none;
    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
        color: inherit;
    }
}

.card {
    margin: 1px;
    display: flex;
    flex-direction: column ;
    width: 400px;
    height: 400px;
    position: relative; 
}

.image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: filter 1s;
    &:hover {
        filter: contrast(150%) grayscale(20%);;
    }
}

.name {
    position: absolute;
    left:15px;
    color:white;
    font-family: $font-text;
}

.price {
    position: absolute;
    right:15px;
    bottom:15px;
    color:white;
    text-transform: uppercase;
}

@media only screen and (max-width: $break-xl) {
    .card,
    .image {
        width: 500px;
        height: 500px;
    }
  }

@media only screen and (max-width: $break-lg) {
    .card,
    .image {
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: $break-m) {
    .card,
    .image {
        width: 250px;
        height: 250px;
    }
  }


@media only screen and (max-width: $break-s) {
    .card,
    .image {
        width: 350px;
        height: 350px;
    }
  }


  @media only screen and (max-width: $break-xs) {
    .card,
    .image {
        width: 250px;
        height: 250px;
    }
  }

