@import '../../../styles/settings.scss';

.root {
    text-decoration: none;
    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
        color: inherit;
    }
}

.card {
    margin: 5px;
    display: flex;
    flex-direction: column ;
    width: 400px;
    height: 400px;
    position: relative; 
}

.image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: filter 1s;
    &:hover {
        filter: contrast(150%) grayscale(20%);;
    }
}

.name {
    position: absolute;
    left:15px;
    color:white;
    font-family: $font-text;
    text-transform: uppercase;
}

.price {
    position: absolute;
    right:15px;
    bottom:15px;
    color:white;
    text-transform: uppercase;
}

